#red {
    border-top: 10px solid #f00;
}

#orange{
    border-top: 10px solid #ffa500;
}

#yellow{
    border-top: 10px solid #ff0;
}

#green {
    border-top: 10px solid #00b3ef;
}

#blue {
    border-top: 10px solid #06f;
}

#indigo {
    border-top: 10px solid #8a2be2;
}

#Violet {
    border-top: 10px solid #d300c9;
}